In [1]:
import os
from os import makedirs
from os.path import isdir, join, isfile
import subprocess
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

sys.path.append('..//')

In [2]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
if not isdir('../runs') and not isfile('../runs.tar.gz'):
    raise RuntimeError('please download runs.tar.gz for generating graphs')
elif not isdir('../runs'):
    subprocess.run('tar -zxf ../runs.tar.gz -C ../', shell=True, check=True)

In [4]:
data_dir = "../data/gb1/"
assert isdir(data_dir)

input_dir = "../tmp/"
assert isdir(input_dir)

In [5]:
measured_data = pd.read_csv(
    os.path.join(data_dir, "elife-16965-supp1-v4.csv")
)
data = measured_data.loc[:, ["Variants", "Fitness"]]
score = data.loc[:, "Fitness"]# WT score is set to 1.

data.loc[:, "Fitness"] = (score - score.min()) / (score.max() - score.min())
data

       Variants   Fitness
0          VDGV  0.114130
1          ADGV  0.007066
2          CDGV  0.027646
3          DDGV  0.000739
4          EDGV  0.003734
...         ...       ...
149356     YYYR  0.000154
149357     YYYS  0.000505
149358     YYYT  0.002420
149359     YYYW  0.001043
149360     YYYY  0.001098

[149361 rows x 2 columns]

In [6]:
testset = data.sample(n=384, random_state=200)
testset.to_csv(os.path.join(input_dir, "testset.csv"), index=False)
testset

       Variants   Fitness
10447      KDTF  0.000404
116663     QYYI  0.002681
141570     WTNY  0.000296
88884      LSKC  0.000271
4057       DDIA  0.000000
...         ...       ...
128718     STHN  0.000145
4547       DNYV  0.000000
44446      DWLC  0.000000
92209      MGWR  0.000233
110590     QCMN  0.000000

[384 rows x 2 columns]

In [7]:
trainset = data.drop(testset.index)
trainset.to_csv(os.path.join(input_dir, "trainset.csv"), index=False)
trainset

       Variants   Fitness
0          VDGV  0.114130
1          ADGV  0.007066
2          CDGV  0.027646
3          DDGV  0.000739
4          EDGV  0.003734
...         ...       ...
149356     YYYR  0.000154
149357     YYYS  0.000505
149358     YYYT  0.002420
149359     YYYW  0.001043
149360     YYYY  0.001098

[148977 rows x 2 columns]